<html>

<head>
<title>Energy Utility</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"> 

  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script>
	<link href="css/article.css" rel="stylesheet">
 </head>



<body>
	<div class="container-fluid">
		<div class="row"> 
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="background-color:white;height:700px;"> 
         
                    <div class="vision_mission">                         
                     
                       <img src="images/article.png" style="height:120%; width:80%;">   
                     
                    </div>
				</div>
	
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-color:white;height:700px;"> 
					
					<div class="images_logos">						
						<img src="images/logos.png" style="height:40%; width:55%">
							<div class="icon">
										<a target="_blank" href="http://www.twitter.com/PLACEHOLDER"><img alt="images/twitter.png" src="images/twitter.png" style="height:7%; width:10%" border=0></a>
										<a target="_blank" href="http://www.youtube.com/PLACEHOLDER"><img src="images/youtube.png" style="height:10%; width:10%" border=0></a>
								 	<img src="images/linkdin.jpg" style="height:7%; width:10%">			
							</div>
					</div>						
				</div> 
			
		</div>	
	</div>				
							
			
					
			
	


</body>
</html>