<!DOCTYPE html>
<html>
<head>

	<title>Energy Utility</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script>
  <link href="css/industrial_center.css" rel="stylesheet">
<link href="css/suppliers.css" rel="stylesheet">


</head>

<body>
	<div class="container-fluid">
		<div class="row"> 
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="background-color:white;height:900px;"> 
         
                    <div class="domestic_consumption">                         
						<table id="main" border="0"> 
							<caption><b><font color="blue">Engineering Goods & Maintenance parts Suppliers</font></b></caption>
						<tr>
						
						<td>
							<table id="t1" border="1">
							<tr><th>Company name</th><th>City</th><th>Country</th><th>Contact(Email)</th></tr>
							<tr><td>Aagesen & Partners A/S, A.K.</td><td>Kristiansand S</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
						    <tr><td>Aas Mek. Verksted A/S</td><td>Vestnes</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>AB&Co - TT Boilers A/S</td><td>Hedehusene</td><td>DENMARK</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>AB-Marinel Oy</td><td>Raisio</td><td>FINLAND</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Acoem AB</td><td>Mölndal</td><td>SWEDEN</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Adapti AS</td><td>Moss</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Admiral Maritime Electronics AS</td><td>Stavanger</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Adveto AB</td><td>Spånga</td><td>SWEDEN</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>AEM Engineering</td><td>Vallensbaek N</td><td>DENMARK</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>AF Group Polska</td><td>Warszawa</td><td>POLAND</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>AF Offshore AeronMollier AS</td><td>Flekkefjord</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
						    <tr><td>AF Offshore Mollier</td><td>Flekkefjord</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>AH Automation AB</td><td>Smögen</td><td>SWEDEN</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Ahlsell Norge</td><td>Stavanger</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Aiken Group Limited</td><td>Aberdeen</td><td>UNITED KINGDOM</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>AIMS Srl</td><td>La Spezia</td><td>ITALY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>AIP Sp. z.o.o.</td><td>Gliwice</td><td>POLAND</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>BacSan & PoolSan Scandinavia AS</td><td>Moss</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Baggerød Horten AS</td><td>Horten</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Balluff ApS</td><td>Århus</td><td>DENMARK</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							</table>
						</td>
						
						<td>
							<table id="t2" border="1">
							<tr><th>Company name</th><th>City</th><th>Country</th><th>Contact(Email)</th></tr>
							<tr><td>Becker Marine Systems Norway AS</td><td>Gjerdrum</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
						    <tr><td>Beha-Hedo Industrier AS</td><td>Skien</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Beijer Electronics</td><td>Sollentuna</td><td>SWEDEN</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Bergaflex AB</td><td>Helsingborg</td><td>SWEDEN</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>C2SAT Communicatons AB</td><td>Kista-Stockholm</td><td>SWEDEN</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Calesco Foil</td><td>Kolbäck</td><td>SWEDEN</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Cameron Norge AS</td><td>Randaberg</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Ca-Nor Kjøleindustri A/S</td><td>Oslo</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Capital Safety</td><td>Red Wing</td><td>UNITED STATES</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Nammo LIAB AB (Hansson Pyrotech)</td><td>Lindesberg</td><td>SWEDEN</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Napa Ltd.</td><td>Helsinki</td><td>FINLAND</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
						    <tr><td>Naval Commerce d.o.o.</td><td>Rijeka</td><td>CROATIA</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Navaltrade</td><td>Rio de Janeiro</td><td>BRAZIL</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Balluff ApS</td><td>Århus</td><td>DENMARK</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>Banco W.H. Banel - Gdansk Sp. J.</td><td>Rusocin</td><td>POLAND</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>BASS AS</td><td>Lysaker</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>AIP Sp. z.o.o.</td><td>Gliwice</td><td>POLAND</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							<tr><td>BacSan & PoolSan Scandinavia AS</td><td>Moss</td><td>NORWAY</td><td><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></td></tr>
							</table>
						</td>
						
						</tr>
					</table>	
                    </div>
					
				<div class="row">
			    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:white;height:250px;">
				    <table id="t01">
	                    <tr><td><br><p><strong>Search by consumer Id</strong></p></td></tr>
						<tr><td>
							<div class="search-custom"> 
						        <ul class="nav navbar-nav navbar-left">	
		          			        <li><input type="text" class="form-control" placeholder="Search" size="50px"></li>
					
		            		        <li><button class="btn btn-default" type="submit">
            					        <i class="glyphicon glyphicon-search"></i></li>	
							    </ul>
						    </div>
						</td></tr>
						<tr><td><strong>Search by consumer Name</strong></td></tr>
						<tr><td>
							<div class="search-custom"> 
						        <ul class="nav navbar-nav navbar-left">	
		          			        <li><input type="text" class="form-control" placeholder="Search" size="20px"></li>
					
		            		        <li><button class="btn btn-default" type="submit">
            					        <i class="glyphicon glyphicon-search"></i></li>	
							    </ul>
						    </div>
						</td></tr>
						<tr><td>
						
						<div class="topbuttons">
						     <a href="#" class="btn btn-info" role="button">Cancel</a>
						</div>
						
						</td></tr>
					
					</table>
          
                 </div> 

			   </div> 		
				</div>
	
			<div>
        	<%- include html-parts/index_right.html %>
    		</div>

					<div class="images_logos">							
						<img src="images/logos.png" style="height:40%; widtd:55%">
					</div>

		</div>	
	</div>			


</body>
</html>