<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DSS</title>
</head>


<body>
    <h2>Error Message</h2>
    <h4> <%= errMsg %> </h4>

    <a href="/dss">Go to main page</a>
</body>

</html>