<!DOCTYPE html>
<html>
<head>

	<title>Energy Utility</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script>
  <link href="css/industrial_center.css" rel="stylesheet">
 <link href="css/forecast.css" rel="stylesheet">


</head>

<body>
	<div class="container-fluid">
		<div class="row"> 
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="background-color:white;height:552px;"> 
  
                    <div class="left_tables">                         
						<table id="t1" border="0"> 
							<tr><td><b>Date</b>&nbsp;</td><td><input type="text" name="date" placeholder="15/07/2017"></td><br></tr>
							<tr><td><b> Time Slot&nbsp;</b></td><td><input type="text" name=" Time Slot" placeholder="19.00-19.15"><br></td></tr>
							<tr><td><b>Market Type&nbsp;&nbsp;</b></td><td><input type="text" name="market Type" placeholder="Short Term"><br><br></td></tr>
						</table>
						
						<table id="t2" border="0"> 
						<caption><b>Todays Weather</b></caption>
							<tr><td><b>Temperature </b>&nbsp;</td><td><input type="text" name="Temperature " placeholder="27.2 C"><br></td></tr>
							<tr><td><b>Humidity</b>&nbsp;</td><td><input type="text" name="Humidity" placeholder="86%"><br></td></tr>
							<tr><td><b>Windspeed</b>&nbsp;</td><td><input type="text" name="Windspeed" placeholder="18.8"><br></td></tr>
							<tr><td><b> Rain Fall</b>&nbsp;</td><td><input type="text" name=" Rain Fall" placeholder="80%"><br></td></tr>
							<tr><td><b>Snow Fall</b>&nbsp;</td><td><input type="text" name="Snow Fall" placeholder="------"><br><br></td></tr>
						</table>
						 <br><button type="button" class="btn btn-primary">My Network</button>	
						 <br><br><button type="button" class="btn btn-success">PPA info</button>
						 <br><br><button type="button" class="btn btn-success">RPO info</button><br>
                    </div>
					
				</div>
				
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="background-color:white;height:552px;"> 	
				
					<div class="image">  
					<img src="images/forecast.png" style="height:100%; width:100%">	
					</div>
					
					<div class="buttons_below_image"> 
					<table id="t3" border="0">
					<tr>
						<td>
						 <button type="button" class="btn btn-primary">Break Down</button>&nbsp;
						</td>
						<td>
						 <button type="button" class="btn btn-primary">Standard Tripping</button>&nbsp;
						</td>
						<td>
						 <button type="button" class="btn btn-primary">Load Shedding</button>&nbsp;
						</td>
					</tr>
					</table>
					</div>
					
				</div>	
				
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="background-color:white;height:552px;"> 	
				<table frame="box" bgcolor="#9fc4c6"> 
				<tr><th>• peak load is more greater than previous<br> year<font color="green">(+09.7 %)</font><br><br></th></tr>
				<tr><th>• Frequency may go <br> down till<br><font color="blue">47.88 Hz)</font><br><br></th></tr>
				<tr><th>• Avg Voltage Drop<br><font color="blue"> (- 7.67%) on Vl (17.13kv</font><br><br></th></tr>
				<tr><th>• Option having in hand to meet demand <br> through Exchange<br><br></th></tr>
				<tr><th><font color="green">DAM</font><br></th></tr>
				<tr><th><font color="green">DAC</font><br></th></tr>
				<tr><th><font color="green">Intraday</font><br></th></tr>
				</table>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-color:white;height:552px;"> 
					
					<div class="images_logos">							
						<img src="images/logos.png" style="height:40%; widtd:55%">
					</div>		
						<div class="icons">
										<a target="_blank" href="http://www.twitter.com/PLACEHOLDER"><img alt="images/twitter.png" src="images/twitter.png" style="height:7%; widtd:10%" border=0></a>
										<a target="_blank" href="http://www.youtube.com/PLACEHOLDER"><img src="images/youtube.png" style="height:10%; widtd:10%" border=0></a>
								 	<img src="images/linkdin.jpg" style="height:7%; widtd:10%">			
						</div>
				</div> 
			
		</div>	
	</div>				
							
</body>
</html>