<!DOCTYPE html>
<html lang="en">

<head>
	<title>DSS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script>

	<link href="css/index.css" rel="stylesheet">
	<link href="css/payment.css" rel="stylesheet">
	<link href="css/payment_gateway.css" rel="stylesheet">
	<script src="js/market_message.js"></script>
	<script src="js/payment.js"></script>
	
	
</head>

<body>
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="background-color:white;height:550px">
		

		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="background-color:white;height:50px;margin-top:20px;margin-left:6px;">
					<div class="value">
					<p><font style="background-color:#9fc4c6">Amount : 6421.36 Eu</font></p>
				<!--<input type="text" name="price" value="Amount : 6421.36 Eu" size="20" />-->
				    </div>
			</div>
		</div>

		<div class="row">
				
			<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="background-color:white;height:250px;margin-top:-21px;margin-left:180px;">
				<table id="inner" align="center">
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" align="center">
				<br><br>	 <b><u>Select Payment Method : </u></b></b><br><br>
			</div>
					<tr>
						<td colspan="1">
							<div class="radio">
								<label><input type="radio" name="optradio" id="rad_credit_card" value="credit_card">Credit Card</label> 
								<select id="sel_Cbank" disabled>
								 	<option value="1" selected="selected">Choose a Bank</option>
									<option value="2">HDFC</option> 
									<option value="3">ICICI</option> 
									<option value="4">SBI</option> 
									<option value="5">PNB</option>
								</select>
							</div>
						</td>

						<td colspan="1">
							<div class="radio" align="left">
								<label><input type="radio" name="optradio" id="rad_debit_card" value="debit_card">Debit Card</label> 
								<select id="sel_Dbank" disabled>
									<option value="1" selected="selected">Choose a Bank</option>
									<option value="2">HDFC</option> 
									<option value="3">ICICI</option> 
									<option value="4">SBI</option> 
									<option value="5">PNB</option>
								</select>&nbsp; &nbsp; &nbsp;
							</div>
						</td>

						<td colspan="1">
							<div class="radio" align="left">
								<label><input type="radio" name="optradio" id="rad_net_banking" value="net_banking">Net Banking</label> 
								<select id="sel_Nbank" disabled>
									<option value="1" selected="selected">Choose a Bank</option>
									<option value="2">HDFC</option> 
									<option value="3">ICICI</option> 
									<option value="4">SBI</option> 
									<option value="5">PNB</option>
								</select>&nbsp; &nbsp; &nbsp;
							</div>
						</td>
					</tr>

					<tr>
						<td>
							<div class="radio" align="left">
								<label><input type="radio" name="optradio" id="rad_letter_of_credit" value="letter_of_credit">Letter of Credit</label></div>
						</td>

						<td>
							<div class="radio" align="left">
								<label><input type="radio" name="optradio" id="rad_cash" value="cash">Cash</label></div>
						</td>

						<td>
							<div class="radio" align="left">
								<label><input type="radio" name="optradio" id="rad_cheque" value="cheque">Cheque</label></div>
						</td>
					</tr>

					<tr>
						<td>
							<div class="radio" align="left">
								<label><input type="radio" name="optradio" id="rad_demand_draft" value="demand_draft">Demand Draft</label></div>
						</td>
					</tr>
				</table>
				<!--inner table code ends-->
			</div>
		</div>

		<div class="buttons">
			<a href="/short_term" class="btn btn-primary" role="button">Cancel</a>
			<a href="#" class="btn btn-primary" role="button" id="payment_gateway" >Pay Premium Now</a>
		</div>
		<!--End of bottom buttons part-->
	</div>

	<div>
		<%- include html-parts/index_right.html %>
	</div>
	<!-- end of middle section row (left + center +right)-->

	<div class="container">		  
	  <!-- Modal -->
	  	<div class="modal fade" id="myPayment_modal" role="dialog">
	    	<div class="modal-dialog">	    
	      <!-- Modal content-->
		      	<div class="modal-content">	
					 <div class="modal-header">
			          	<button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>  		       
                    <form role="form" action="/short_transaction">
                        <div class="modal-body">
                           <p><h1>Third Party Payment Gateway</h1></p>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="OK">
                        </div>
                    </form>
                </div>
            <!--End of Modal content-->
            </div>
        </div>
    </div>
    <!--End of payment gateway pop up-->

</body>

</html>