<html>
<head>

	<title>Energy Utility</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script>
  <link href="css/industrial_center.css" rel="stylesheet">
 <link href="css/receipt_case2.css" rel="stylesheet">

</head>

<body>
	<div class="container-fluid">
		<div class="row"> 
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="background-color:white;height:700px;"> 
         
                    <div class="domestic_consumption">                         
						<table id="main" border="0"> 
							<caption><b>Receipt</b></caption>
						
						<tr>
						<td>
						<button type="button" class="btn btn-success">Back to main Menu</button><br>
						</td>
						<td>
						<button type="button" class="btn btn-success">Back to forecast</button><br>
						</td>
						<td>
						<button type="button" class="btn btn-success">Back to Market Mix</button><br>
						</td>
						<td>
						 <button type="button" class="btn btn-success">My Hordings</button><br>
						</td>
						</tr>
						
						<tr>
							<table id="t1" border="1" align="center">
							<tr><td><br><br>Transaction  number</td><td>C203/1</td></tr>
						    <tr><td>Date/Time</td><td>14/07/2017/1</td></tr>
							<tr><td>Order number</td><td>DAM51638</td></tr>
							<tr><td>Transaction Type:</td><td>Short term Through exchange</td></tr>
							<tr><td>Quantity:</td><td>200.00MWh</td></tr>
							<tr><td>Amount Paid:</td><td>€ 6251.86</td></tr>
							<tr><td>Point of delivery/drawal</td><td>NPS/Zone (South 02)/Z3/041</td></tr>
							<tr><td>Name :</td><td>Company C</td></tr>
							<tr><td>Address:</td><td>Str. Fabrica de Glucoza, Nr. 21, Sector 2, Bucuresti,Romania/1</td></tr>
							<tr><td>Phn number:</td><td>+47 67 10 91 00</td></tr>
							<tr><td>Email:</td><td>DAM51638@EEX.net</td></tr>
							</table>
						</tr>
					
						<tr>
						<td>
						 <br><button type="button" class="btn btn-primary">Print Receipt</button>
						</td>
						<td>
						 <button type="button" class="btn btn-primary">Download Receipt</button>
						</td>
						<td>
						 <button type="button" class="btn btn-primary">Continue Trading</button>
						</td>
						<td>
						  <button type="button" class="btn btn-primary">Generate Certificate</button>
						</td>
						</tr>
						
					</table>	
                    </div>
				</div>
	
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-color:white;height:700px;"> 
					
					<div class="images_logos">							
						<img src="images/logos.png" style="height:40%; widtd:55%">
					</div>		
						<div class="icons">
										<a target="_blank" href="http://www.twitter.com/PLACEHOLDER"><img alt="images/twitter.png" src="images/twitter.png" style="height:7%; widtd:10%" border=0></a>
										<a target="_blank" href="http://www.youtube.com/PLACEHOLDER"><img src="images/youtube.png" style="height:10%; widtd:10%" border=0></a>
								 	<img src="images/linkdin.jpg" style="height:7%; widtd:10%">			
							</div>
				</div> 
			
		</div>	
	</div>				
							
</body>
</html>