<html>
<head>
<title>Energy Utility</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"> 

  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script>
	<link href="css/trader1_center.css" rel="stylesheet">
 </head>


<body>
	<div class="container-fluid">
		<div class="row"> 
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="background-color:white;height:552px;"> 
         
                    <div class="Trader1_table">   <!--trader1 table code -->                       
                      <table>  
							<caption><b><font color="blue">Traders:</font></b></caption>
					       <tr><th colspan="7" style="text-align: center"><font color="blue">Category 1 Traders</font></th></tr>
						   <tr><th>Name</th><th>country</th><th>type</th><th>Category</th><th>Energy volume traded 2016 (TWh)</th><th>contacts</th></tr><br><br>
						   <tr><td>Tullett Prebon</td><td>UK</td><td>Broker</td><td>1</td><td>4467.35</td><td>https://www.tullettprebon.com/about/about_ourstory.aspx</td></tr>
						    <tr><td>Tullett Prebon</td><td>Germany</td><td>Broker</td><td>1</td><td>5231.30</td><td>https://www.tullettprebon.com/about/about_ourstory.aspx</td></tr>
					        <tr><td>Tullett Prebon</td><td>france</td><td>Broker</td><td>1</td><td>5995.25</td><td>https://www.tullettprebon.com/about/about_ourstory.aspx</td></tr>
							<tr><td>Tullett Prebon</td><td>Italy</td><td>Broker</td><td>1</td><td>6759.21</td><td>https://www.tullettprebon.com/about/about_ourstory.aspx</td></tr>
							<tr><td>Tullett Prebon</td><td>Netherlands</td><td>Broker</td><td>1</td><td>7523.16</td><td>https://www.tullettprebon.com/about/about_ourstory.aspx</td></tr>
							<tr><td>Enel</td><td>Italy</td><td>Dealer</td><td>1</td><td>2430.13</td><td>https://www.enel.com/</td></tr>
							<tr><td>EDF energy</td><td>UK</td><td>Dealer</td><td>1</td><td>3677.93</td><td>https://www.edfenergy.com/</td></tr>
							<tr><td>EDF energy</td><td>France</td><td>Dealer</td><td>1</td><td>1666.18</td><td>https://www.edfenergy.com/</td></tr>
							<tr><td>AXPO group</td><td>Germany</td><td>Dealer</td><td>1</td><td>679.97</td><td>https://www.axpo.com/axpo/us/en/home.html</td></tr>
							<tr><td>AXPO group</td><td>Netherlands</td><td>Dealer</td><td>1</td><td>3448.74</td><td>https://www.axpo.com/axpo/us/en/home.html</td></tr>
													
                     </table> 
                    </div> <!--trader1 table code ends here -->

				</div> 
	
	<div>
        <%- include html-parts/index_right.html %>
    </div>

					
			
		</div>	
	</div>				
							
			
					
			
	


</body>
</html>