<html>
<head>
<title>Energy Utility</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"> 

  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script>
	<link href="css/trader2_center.css" rel="stylesheet">
 </head>


<body>
	<div class="container-fluid">
		<div class="row"> 
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="background-color:white;height:552px;"> 
         
                    <div class="Trader2_table">    <!--trader2 table code -->                     
                      <table>  
							<caption><b><font color="blue">Traders:</font></b></caption>
					       <tr><th colspan="7" style="text-align: center"><font color="blue">Category 2 Traders</font></th></tr>
						   <tr><th>Name</th><th>country</th><th>type</th><th>Category</th><th>Energy volume traded 2016 (TWh)</th><th>contacts</th></tr><br><br>
						   <tr><td>Tradition</td><td>Germany</td><td>Broker</td><td>2</td><td>5485.95</td><td>http://www.tradition.com/</td></tr>
						    <tr><td>Tradition</td><td>Italy</td><td>Broker</td><td>2</td><td>5316.18</td><td>http://www.tradition.com/</td></tr>
					        <tr><td>ICAP</td><td>UK</td><td>Broker</td><td>2</td><td>4722.00</td><td>http://www.icap.com/</td></tr>
							<tr><td>ICAP</td><td>Netherlands</td><td>Broker</td><td>2</td><td>7777.81</td><td>http://www.icap.com/</td></tr>
							<tr><td>GFI Group</td><td>France</td><td>Broker</td><td>2</td><td>6249.91</td><td>http://www.gfigroup.com/</td></tr>
							<tr><td>EON Energy</td><td>Netherlands</td><td>Dealer</td><td>2</td><td>3703.39</td><td>https://www.eonenergy.com/</td></tr>
							<tr><td>Engie Global Markets</td><td>UK</td><td>Dealer</td><td>2</td><td>1406.00</td><td>http://www.engie-globalmarkets.com/</td></tr>
							<tr><td>Engie Global Markets</td><td>france</td><td>Dealer</td><td>2</td><td>1920.83</td><td>http://www.engie-globalmarkets.com/</td></tr>
							<tr><td>EDF energy</td><td>Germany</td><td>Dealer</td><td>2</td><td>1200.00</td><td>https://www.edfenergy.com/</td></tr>
							<tr><td>AXPO group</td><td>Italy</td><td>Dealer</td><td>2</td><td>2684.79</td><td>https://www.axpo.com/axpo/us/en/home.html</td></tr>
													
                     </table>      <!--trader2 table code ends here -->
                    </div>
				</div>
	
	<div>
        <%- include html-parts/index_right.html %>
    </div>

			
		</div>	
	</div>				
							
			
					
			
	


</body>
</html>