<!DOCTYPE html>
<html lang="en">

<head>
	<title>DSS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script>

	<link href="css/index.css" rel="stylesheet">
	<script src="js/market_message.js"></script>
	<link href="css/transaction.css" rel="stylesheet">

</head>

<body>
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="background-color:white;height:550px">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:white;height:70px">
				<div class="topbuttons">
					<a href="#" class="btn btn-info" role="button">Options</a>
					<a href="#" class="btn btn-info" role="button">SWAPs</a>
					<a href="#" class="btn btn-info" role="button">Futures</a>
					<a href="#" class="btn btn-info" role="button">Forwards</a>
					<a href="#" class="btn btn-info" role="button">FTR's/CFD's</a><br>
				</div>
				<!--End of top buttons part-->
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:white;height:50px">
				Time Period :<input type="text" name="timeperiod" value="2-3 Months" size="8" /> Exchange :<input type="text" name="timeperiod"
				 value="NPS" size="5" /> Volume :<input type="text" name="volume" placeholder="50Mw" size="5" /> Ordered Quantity:<input
				 type="text" name="volume" placeholder="1" size="3" /> Company:
				<input type="text" name="volume" placeholder="A" size="5" /> Strike Price:<input type="text" name="volume" placeholder="$16.00"
				 size="5" />
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:;">

				<table class=" table-striped table-bordered table_transaction" style="height:360px;">
					
					<caption style="text-align:center"><b>Transaction Details</b></caption>
					<tr>
						<td>Transaction Number</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Date/Time</td>
						<td>11/07/2017</td>
					</tr>
					<tr>
						<td>Order Number</td>
						<td>AQ217FH</td>
					</tr>
					<tr>
						<td>Transaction Type</td>
						<td>Buy/Call/1</td>
					</tr>
					<tr>
						<td>Quantity</td>
						<td>50MWH</td>
					</tr>
					<tr>
						<td>Amount Paidr</td>
						<td>$116.7</td>
					</tr>
					<tr>
						<td>Point Of Delivery/drawal</td>
						<td>NPS/SW3/NW1</td>
					</tr>
					<tr>
						<td>Name</td>
						<td>Company A</td>
					</tr>
					<tr>
						<td>Address</td>
						<td>P.O. Box 121, No-1325, Lysakar, Norway.</td>
					</tr>
					<tr>
						<td>Pin No:</td>
						<td>476100</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>abc@gmail.com</td>
					</tr>

				</table>

				<div class="buttons">
					<a href="/order_history" class="btn btn-primary col-sm-2 bbtn" role="button">Order History</a>
					<a href="#" class="btn btn-primary col-sm-2 bbtn" role="button">Print </a>
					<a href="#" class="btn btn-primary col-sm-3 bbtn" role="button">Download Receipt</a>
				</div>
				<!--End of bottom buttons part-->
			</div>
			<!-- End of body-->
		</div>
	</div>
	<div>
		<%- include html-parts/index_right.html %>
	</div>
	<!-- end of middle section row (left + center +right)-->

</body>

</html>