.table_transaction{
	margin-left: 150px; 
	margin-right: px; 
    width: 80%;   
}

.buttons{
	margin-left: 400px;
 }
.bbtn{
		margin-right: 10px;
}
.topbuttons{
	margin:17px 0 0 184px;
	padding:0px 95px;
}

 