
table, th, td {
    "border-collapse: collapse; border: none;"
}
th, td {
    padding: 5px;
    text-align: left;
}

table #inner1, th {
     background-color:#33CEFF;
    color: white;
}
table#inner1 tr:nth-child(even) {
    background-color: #eee;
}
table#inner1 tr:nth-child(odd) {
    background-color: #fff;
}

#inner1{
width:70%;
    height:90%;	
}
#inner2{
	width:30%;
    height:50%;	
}