#inner{
    margin-left: 20px; 
    width: 98%;
    height: 300px;
    border: 1px solid black;
}

.topbuttons{
	margin:17px 0 0 184px;
	padding:0px 95px;
}

 .buttons{
    margin-left: 400px;
 }

 .bottomline{
 	width: 100%;
 	margin-top: 30px;
 }

 .bottom_tickers{
  margin-right: 10px ;
}

/*modal pop up window*/
.modal-content{
  border: 3px solid #006699;
}

.modal-header,.modal-body,.modal-footer{
  margin-top: 10px;
}

.modal-body{
  font-size: 15px;
}

.modal-footer {
  background-color: #f9f9f9;
  text-align: center;
}
